[user]
	name = Szymon Hankus
	email = dephan@protonmail.com
[core]
	excludesFile = ~/.global_gitignore
[http]
	postBuffer = 157286400
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[alias]
	a = add
	comm = commit
	lg = log --graph --all --abbrev-commit --decorate
[push]
	default = current
